
<div class="container-fluid bg-warning p-2">
 <nav class="container navbar navbar-expand-lg navbar-light bg-warning">
        <a class="nav-link h2 text-dark rounded bg-secondary">IMDb</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse justify-content-end">
            <div class="navbar nav mr-5">
                <a class="nav-item nav-link h-4 mr-5" routerLink="toprated">Top-Rated</a>
                <a class="nav-item nav-link h-4 mr-5"  routerLink="trending">Trending</a>
                <a class="nav-item nav-link h-4 mr-5" routerLink="popular">Popular</a>
                <a class="nav-item nav-link h-4 mr-5" routerLink="upcoming">Upcoming</a>
            </div>
        </div>
      </nav>
    </div>
